<nav class="navbar navbar-collapse">
  <a class="navbar-brand">Bosch</a>
  <div class="nav-item float-right">
    <div>
      <button *ngIf="!(authService.userStatus$ | async)"
              class="btn btn-primary"
              (click)="authService.logIn()">Login
      </button>
      <button *ngIf="authService.userStatus$ | async"
              class="btn btn-danger"
              (click)="authService.logOut()">Logout
      </button>
    </div>
  </div>
  <ul class="nav nav-tabs" id="navId">
    <li class="nav-item">
      <a routerLink="/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}"
         class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/products"
         routerLinkActive="active"
         class="nav-link">Products</a>
    </li>
    <li class="nav-item">
      <a routerLink="/kontakt"
         routerLinkActive="active"
         class="nav-link">Kontakt</a>
    </li>
    <li class="nav-item">
      <a routerLink="/twitter"
         routerLinkActive="active"
         class="nav-link">Twitter</a>
    </li>
    <li class="nav-item">
      <a routerLink="/test"
         routerLinkActive="active"
         class="nav-link">Test</a>
    </li>
    <li class="nav-item">
      <a routerLink="/wizard"
         routerLinkActive="active"
         class="nav-link">Wizard</a>
    </li>
  </ul>

</nav>
