<div>
  <button
    [disabled]="isDisabled"
    [ngClass]="{active: controlState === 'tak'}"
    (click)="controlState = 'tak'">Tak</button>
  <button
    [disabled]="isDisabled"
    [ngClass]="{active: controlState === 'nie'}"
    (click)="controlState = 'nie'">Nie</button>
  <button
    [disabled]="isDisabled"
    [ngClass]="{active: controlState === 'nie wiem'}"
    (click)="controlState = 'nie wiem'">Nie wiem</button>
</div>
