<div [ngClass]="{'descriptionHighlight': showDescription }">
  <div>{{product?.title}} {{product.price}}
    <button (click)="handleSprzedaj()">Sprzedaj</button>
    <button (click)="toggleDescription()">{{showDescription ? 'Ukryj Opis' : 'Pokaż Opis'}}</button>
  </div>
  <div *ngIf="showDescription">{{product.description}}</div>
</div>
