
<div>
  <div class="form-group">
    <label for="search">Search</label>
    <input
      #searchInput
      (input)="search$.next(searchInput.value)"
      type="text"
      class="form-control" name="search" id="search" aria-describedby="helpId" placeholder="Search">

  </div>
  <button routerLink="/products/add" class="btn btn-danger">Add product</button>
</div>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let product of products;"
      bshHighlight="highlight">
    <bsh-product-details
      [product]="product"
      (sprzedaj)="onSprzedaj($event)">
    </bsh-product-details>
    <button [routerLink]="['/products/edit', product.id]" class="btn btn-warning">Edit</button>
  </li>
</ul>
<div>{{1.25 | currency:'EUR' | vat:'19%'}}</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li *bshRepeat="let num of 5; let d = double" class="page-item"><a class="page-link" href="#">{{num}}{{d}}</a></li>
  </ul>
</nav>

<div *ngIf="search$ | async as searchData; else loader">
  {{searchData}}
</div>
<ng-template #loader>Loading...</ng-template>
