<div style="border: 1px solid red">
  <div>
    {{data.title}}
  </div>
  <button
    (click)="increment()"
    class="btn btn-danger">Increment Child Counter</button>
  <button
    (click)="runChangeDetector()"
    class="btn btn-danger">Detect</button>
  {{counter}}
</div>
