
<div class="card" style="width: 20rem;">
  <div class="card-body" >
    <h4 class="card-title"><ng-content select="h3"></ng-content></h4>
    <p class="card-text"
       *ngIf="!isCollapsed">
      <ng-content></ng-content>
    </p>
  </div>
  <button (click)="toggle()">Toggle</button>
</div>
