<ng-container *ngIf="product$ | async as product">
  <bsh-product-form [product]="product" (submitProduct)="save($event)"></bsh-product-form>
  <div class="card p-1">
    <pre>
      {{product  | json}}
    </pre>
  </div>
</ng-container>
