<form #myForm="ngForm" (submit)="sendMessage(myForm)">
  <div class="form-group">
    <label>E-mail</label>
    <input
      type="text"
      name="email"
      required
      email
      class="form-control" ngModel>
  </div>
  <div class="form-group">
    <label>Message</label>
    <textarea class="form-control"
              name="message"
              maxlength="100"
              ngModel></textarea>
  </div>
  <button class="btn btn btn-outline-danger">Send message</button>
</form>
