<form [formGroup]="productForm" (submit)="saveProduct()">
  <div class="form-group">
    <label>Title</label>
    <input
      type="text"
      formControlName="title"
      class="form-control">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control"
              formControlName="description">
    </textarea>
  </div>
  <div class="form-group">
    <label>Price</label>
    <input
      type="number"
      formControlName="price"
      class="form-control">
  </div>
  <bsh-tristate-checkbox formControlName="stan"></bsh-tristate-checkbox>
  <button class="btn btn btn-outline-danger" [disabled]="productForm.invalid">Send message</button>
</form>
