<div class="form-group">
  <label for="search">Search</label>
  <input
    #searchInput
    type="text"
    class="form-control" name="search" id="search" aria-describedby="helpId" placeholder="Search">

</div>
<bsh-twitter-post>
  <h3>title 1</h3>
  <bsh-text-post #post></bsh-text-post>
</bsh-twitter-post>
<bsh-twitter-post>
  <h3>title 2</h3>
  <bsh-image-post #post></bsh-image-post>
</bsh-twitter-post>
